@import "./variables";
@import "./mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  transition: 0.3s;
  overflow-x: hidden;
}
:root {
  font-size: clamp(12px, 4vw, 16px);
}

body {
  --main-clr: rgb(87, 142, 104);
  --secondary: rgb(204, 204, 204);
  --third: #000;
  --main: #e2e4e9;
}

body.dark {
  --main: #131d22;
  --secondary: #111;
  --third: rgb(227, 227, 227);
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar-track {
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 100vh;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(87, 142, 104, 7);
  border-radius: 100vh;
  margin: 2px;

  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 142, 104);
}
