@import "./variables";
@import "./mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
}
:root {
  font-size: clamp(12px, 4vw, 16px);
}

body {
  // --main-clr: rgb(112, 128, 144);
  // --main-clr: rgb(0, 128, 128);
  --main-clr: rgb(255, 127, 80);
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

a {
  text-decoration: none;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}

*::-webkit-scrollbar-track {
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 100vh;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 128, 82, 0.7);
  border-radius: 100vh;
  margin: 2px;

  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 128, 82);
}
