@import "./variables";
@import "./mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}

body {
  @include kyiv(500, -600);
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
}
:root {
  font-size: clamp(12px, 3vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}

#home.grey {
  --scroll: var(--grey);
}
#home.blue {
  --scroll: var(--blue);
}
#home.aqua {
  --scroll: var(--aqua);
}
#home.red {
  --scroll: var(--red);
}
#home.lavender {
  --scroll: var(--lavender);
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}
