:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --main-clr: #5c6e7d;
  --svg: rgba(245, 222, 179, 0.458);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
  --text-shadow: 0.3px 0.3px 0.2px black;
  --svg-shadow: 0.2px 0.4px 0.5px black;
}
