:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px grey;
}
