@import "../globals/variables";

#about {
  min-height: 100vh;
  position: relative;
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    gap: 20px;
    height: 100%;
    width: 100%;
    .mac {
      width: 50%;
      height: 250px !important;
      & > * {
        margin-top: 20px;
      }
    }

    p {
      width: 40%;
      text-align: justify;
      &::first-letter {
        padding-left: 20px;
        font-size: 1.3rem;
        text-transform: capitalize;
        color: var(--scroll);
      }
    }
  }
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
    width: 100%;

    .mac {
      padding: 20px;
      width: 100% !important;
    }
    p {
      width: 80% !important;
    }
  }
}
