@import "../globals/variables";

#about {
  position: relative;
  z-index: 4;
  overflow: hidden;
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-height: 70vh;
    overflow: hidden;

    .mac {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 350px;
    }

    .about-content {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 0 10px;
      padding-top: 25px;
      align-self: flex-end;
      .special {
        font-weight: bold;
      }
      .about-btns {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 40px;

        a {
          font-size: 1rem;
          margin: 0;

          &.contact-btn {
            width: fit-content;
            gap: 4px;
            position: relative;
          }
          .transparent-btn {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
          }
        }
      }
      p {
        color: var(--third);
        font-weight: normal;
        margin-bottom: 30px;
        &::first-letter {
          margin-left: 25px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .about {
    flex-direction: column;
    width: 100%;

    .mac {
      padding: 20px 0;
      width: 100% !important;
    }
    .about-content {
      width: 100% !important;
    }
  }
}

@media (max-width: 500px) {
  #about {
    max-height: fit-content !important;
    padding: 40px 0;
  }
}
