@import "../globals/variables";

#about {
  min-height: 100vh;
  position: relative;
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    gap: 20px;
    height: 100%;
    width: 100%;
    .mac {
      width: 50%;
      height: 250px !important;
      & > * {
        margin-top: 20px;
      }
    }

    .about-content {
      width: 40%;
      display: flex;
      flex-direction: column;

      .about-btns {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 40px;
        button {
          font-size: 10px;
          &.contact-btn {
            background-color: rgb(78, 75, 75) !important;
            box-shadow: 1px 2px 4px black;
            color: var(--white);
            gap: 4px;
          }
        }
      }
      p {
        text-align: justify;
        color: var(--third);
        &::first-letter {
          padding-left: 20px;
          font-size: 1.3rem;
          text-transform: capitalize;
          color: var(--scroll);
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
    width: 100%;

    .mac {
      padding: 20px;
      width: 100% !important;
    }
    .about-content {
      width: 80% !important;
    }
  }
}
