@import "../globals/globals";
@import "../globals/variables";
@import "../globals/mixins";

.bot {
  position: fixed;
  left: 20px;
  bottom: 0px;
  z-index: 40;

  svg {
    color: var(--third);
    font-size: 30px;
    position: relative;
    z-index: 40;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .chat {
    width: 300px;
    height: 350px;
    border-radius: 5px;
    background: var(--main);
    box-shadow: 2px 2px 4px black;
    position: relative;
    z-index: 10;
    scrollbar-gutter: stable;
  }
  .head-chat {
    display: flex;
    padding: 8px;
    gap: 10px;
    background-color: var(--secondary);
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 50px;
    .chat-close-icon {
      position: absolute;
      top: 3px;
      right: 3px;
      font-size: 16px;
      color: var(--third);
    }
    .chat-content {
      color: var(--third);
      display: flex;
      flex-direction: column;
      gap: 2px;
      .chat-name {
        font-size: 12px;
        letter-spacing: 0.8px;
        font-weight: bold;
      }
      .ask {
        opacity: 0.7;
        font-size: 10px;
      }
    }
    .img-par {
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid grey;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      img {
        width: 130%;
        height: 130%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .chat-messages {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    overflow-anchor: none;
    width: 100%;
    overflow: auto;
    height: calc(100% - 50px);

    .msg-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: fit-content;
      gap: 4px;
      overflow-anchor: auto;
    }

    .chat-q,
    .chat-av-q {
      align-self: flex-end;
      background-color: var(--secondary);
      border-radius: 20px;
      width: fit-content;
      max-width: 90%;
      display: flex;
      font-size: 10px;
      align-items: center;
      padding: 8px;
      padding-left: 10px;
      color: var(--third);
    }
    .chat-ans {
      align-self: flex-start;

      background-color: var(--secondary);
      border-radius: 20px;
      width: fit-content;
      max-width: 90%;
      display: flex;
      font-size: 10px;
      align-items: center;
      padding: 8px;
      padding-left: 10px;
      color: var(--third);
    }
    .chat-av-q {
      background-color: #007aff;
      align-self: flex-start;
      color: var(--white);
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {
  .bot {
    left: 0;
    bottom: 0;
    z-index: 100;
    .chat {
      width: 100vw;
      height: 100vh;
    }
  }
}

.chat-par {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
