@import "../globals";

.heading {
  width: fit-content;
  text-align: start;
  position: relative;
  margin: 20px;
  font-size: 30px;
  text-transform: capitalize;
  .border-one {
    position: absolute;
    top: 110%;
    left: 0;
    // width: 40%;
    height: 6px;
    background: var(--scroll);
    border-radius: 4px;
  }
  .border-two {
    display: inline-block;
    position: absolute;
    top: 150%;
    left: 0;
    width: 20%;
    height: 6px;
    background: var(--scroll);
    border-radius: 4px;
  }
}

.btn {
  outline: 0;
  border: 0;
  color: white;
  width: fit-content;
  padding: 8px;
  letter-spacing: 1px;
  border-radius: 4px;
  text-shadow: 0.5px 0.5px 0.75px black;
  position: relative;
  .btn-span {
    position: relative;
    transition: 0.3s;
    font-weight: bold;
  }
  // &:before {
  //   content: "";
  //   border-radius: 4px;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 0;
  //   background: var(--main);
  //   transition: 0.3s;
  // }
  // &:hover {
  //   .btn-span {
  //     color: var(--scroll);
  //   }
  // }
  // &:hover:before {
  //   width: 100%;
  // }
}
