@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";

.container {
  min-height: calc(100vh - 50px);
  padding: 20px 0;
  background-color: var(--secondary);
}
.heading {
  @include kyiv(500, -600);
  font-weight: 900;
  margin: 0 auto;
  text-align: start;
  position: relative;
  padding: 20px 20px;
  padding-top: 40px;
  padding-bottom: 0;
  font-size: 2.4rem;
  margin-bottom: 15px;
  color: var(--third);
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  .title {
    position: absolute;
    left: 0%;
    border-radius: 3px;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.4 !important;
  }
}

.box-shadow {
  box-shadow: 1px 1px 3px black;
}

.btn-par {
  position: relative;

  max-width: fit-content;
  max-height: fit-content;
  filter: drop-shadow(var(--secondary-shadow));
  margin-bottom: 45px;
  margin-top: 20px;
  .btn-background {
    z-index: -1;

    path {
      fill: var(--scroll);
    }
  }
}
.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  outline: 0;
  border: 0;

  letter-spacing: 1.2px;
  border-radius: 4px;
  text-shadow: 0.5px 0.5px 0.75px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-transform: capitalize;
  background-color: transparent;
  font-size: 1rem;
  white-space: nowrap;
}

.main-background {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
  letter-spacing: 1vw;
  white-space: nowrap;
  overflow: hidden;

  p {
    opacity: 0.15;
    text-transform: capitalize;
    font-size: 8.5rem;
    color: var(--third);
    font-family: "Caveat", cursive;
    line-height: 7rem;
  }
}

.rotated-text-par {
  position: fixed;
  bottom: 2px;
  right: 4px;
  z-index: 20;
  background-color: var(--third);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;

  .rotate-svg {
    transform: scale(0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    path {
      fill: var(--main);
    }
  }
}

.title-par {
  display: inline-flex;
}
.custom-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: lowercase;
  position: absolute;
  top: 115%;
  width: fit-content;
  z-index: 10;
  padding: 4px 6px;
  background: var(--secondary);
  color: var(--third) !important;
  white-space: nowrap;
  border-radius: 4px;
  letter-spacing: 0.8px;
  height: 20px;
  font-size: 0.8rem;
  box-shadow: 0.5px 0.5px 1px black;
  text-transform: capitalize;
  box-shadow: var(--main-shadow);
  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }
}

.err-form {
  display: inline-block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 105%;
  font-size: 0.85rem;
  left: 0;
  color: rgb(118, 9, 9);
  font-weight: bold;
}

.relative {
  position: relative;
}

@media (max-width: 500px) {
  .main-background p {
    font-size: 6rem;
  }
}

p {
  @include fexien(75, 600);
}
