@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";

.container {
  padding: 20px 0;
  max-width: 1250px;
  margin: 0 auto;
  min-height: calc(100vh - 50px);
}
.itim {
  font-family: "Itim", cursive;
}
.heading {
  @extend .itim;
  font-weight: 900;
  margin: 0 auto;
  text-align: start;
  position: relative;
  padding: 20px 20px;
  padding-top: 40px;
  padding-bottom: 0;
  font-size: 2.4rem;
  margin-bottom: 15px;
  color: var(--third);
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  .title {
    position: absolute;
    left: 0%;
    border-radius: 3px;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
  }
}

.box-shadow {
  box-shadow: 1px 1px 3px black;
}

.btn {
  z-index: 2;
  outline: 0;
  border: 0;
  letter-spacing: 1.2px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-transform: capitalize;
  font-size: 1rem;
  white-space: nowrap;
  background: var(--main-clr);
  transition: 0.3s;
  color: white;
  padding: 12px 14px;

  &:hover {
    background: var(--third);
    color: var(--main-clr);
    svg {
      color: var(--main-clr);
    }
  }
}

.rotated-text-par {
  position: fixed;
  bottom: 2px;
  right: 4px;
  z-index: 20;
  background-color: var(--third);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;

  .rotate-svg {
    transform: scale(0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    path {
      fill: var(--main);
    }
  }
}

.title-par {
  display: inline-flex;
}
.custom-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  position: absolute;
  top: 115%;
  width: fit-content;
  z-index: 10;
  padding: 8px 6px;
  background: var(--secondary);
  color: var(--third);
  white-space: nowrap;
  border-radius: 4px;
  letter-spacing: 0.8px;
  height: 20px;
  font-size: 0.8rem;
  box-shadow: 0.5px 0.5px 1px black;
  text-transform: capitalize;
  box-shadow: var(--main-shadow);

  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }
}

.relative {
  position: relative;
}

.clr {
  color: var(--main-clr);
}

@media (max-width: 500px) {
  .main-background p {
    font-size: 6rem;
  }
}

.splited-word {
  display: flex;
  margin: -0.2rem;
}

.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background: white;
  mix-blend-mode: difference;
  z-index: 10000;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
}
