@import "../globals/globals";
@import "../globals/variables";
@import "../globals/mixins";

#contact {
  min-height: 100vh;
  position: relative;
  background-color: var(--forth);
  background-color: var(--secondary);
  overflow: hidden;

  .contact-data {
    position: relative;

    z-index: 4 !important;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    padding: 40px 0;
    .my-details {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .contact-detail {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      opacity: 0;
      .contact-shape {
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          box-shadow: 1px 1px 2px black;
          border: 0.5px solid var(--secondary);
          background-color: var(--main);
          svg {
            color: var(--scroll);
            filter: drop-shadow(0px 0.2px 0.1px black);
            font-size: 1.2rem;
          }
        }
        .line {
          width: 30px;
          height: 1.5px;
          background-color: var(--main);
          box-shadow: 1px 1px 2px black;
        }
      }
      .contact-detail-data {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: flex-start;
        gap: 5px;
        color: var(--third);
        .contact-detail {
          font-family: "Caveat", cursive;
          font-size: 20px;
          text-transform: capitalize;
        }
        .contact-value {
          opacity: 0.4;
        }
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 8% 2%;
    border-radius: 5px;
    background: var(--main);
    box-shadow: var(--main-shadow);
    opacity: 0;
    .send-btn {
      opacity: 0;
    }
    .inp-par {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      width: 100%;
      height: 80px;
      position: relative;

      &.inp-text {
        height: 120px;
      }
      &.inp-send {
        display: flex;
        align-items: center;
        button {
          color: white;
        }
      }
      input,
      textarea {
        width: 100%;
        color: var(--third);
        height: 100%;
        border-radius: 6px;
        padding: 15px;
        letter-spacing: 0.8px;
        outline: none;
        border: none;
        background-color: var(--secondary);
        box-shadow: 0.5px 0.5px 1px black;
        &:focus {
          border: 2px solid var(--scroll);
        }
      }
      .placeholder {
        color: var(--third);
        font-family: "Caveat", cursive;
        display: flex;
        font-weight: 600;
        font-size: 20px;
        gap: 5px;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 800px) {
  #contact .contact-data {
    width: 95%;
    flex-direction: column;
    .my-details {
      width: 100%;
      align-self: center;
      margin: 0 auto;
    }
    form {
      width: 100%;
      margin: 0 auto;
    }
  }
}
