@import "../globals/globals";
@import "../globals/variables";
@import "../globals/mixins";
.contact-wrapper {
  overflow: hidden;
  background: var(--svg);
}
#contact {
  position: relative;
  overflow: hidden;
  .contact-data {
    position: relative;
    z-index: 4 !important;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    padding: 40px 0;
    .my-details {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 80px;
    }
    .contact-detail {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .contact-shape {
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          box-shadow: 1px 1px 2px black;
          border: 0.5px solid var(--secondary);
          background-color: var(--main);
          svg {
            color: var(--main-clr);
            filter: drop-shadow(0px 0.2px 0.1px black);
            font-size: 1.2rem;
          }
        }
        .line {
          width: 30px;
          height: 1.5px;
          background-color: var(--main);
          box-shadow: 1px 1px 2px black;
        }
      }
      .contact-detail-data {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: flex-start;
        gap: 5px;
        color: var(--third);
        .contact-detail {
          font-family: "Caveat", cursive;
          font-size: 20px;
          text-transform: capitalize;
        }
        .contact-value {
          opacity: 0.4;
        }
      }
    }
  }
  .form-par {
    width: 50%;
    position: relative;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px min(3rem, 25px);
    border-radius: 5px;
    background: var(--main);
    box-shadow: var(--main-shadow);
    p {
      color: var(--third);
      opacity: 0.4;
      text-wrap: balance;
      text-align: center;
      font-size: 0.9rem;
    }
    h3 {
      font-size: 2rem;
      text-align: center;
      width: fit-content;
      margin: 0 auto;
      color: var(--third);
    }

    .inp-par {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      width: 100%;
      min-height: 80px;
      position: relative;

      &.inp-text {
        min-height: 120px;
        textarea {
          min-height: 120px;
        }
      }
      &.inp-send {
        display: flex;
        align-items: center;
        min-height: fit-content;
        width: 25%;
        margin: 0 auto;

        button {
          width: 100%;
        }
      }
      .err-form {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        color: rgb(113, 17, 17);

        height: 20px;
      }
      input,
      textarea {
        width: 100%;
        color: var(--third);
        height: 100%;
        border-radius: 6px;
        padding: 15px;
        letter-spacing: 0.8px;
        outline: none;
        border: none;
        background-color: var(--secondary);
        box-shadow: 0.5px 0.5px 1px black;
        &:focus {
          border: 1px solid var(--main-clr);
        }
      }
      .placeholder {
        color: var(--third);
        font-family: "Caveat", cursive;
        display: flex;
        font-weight: 600;
        font-size: 20px;
        gap: 5px;
        opacity: 0.7;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 800px) {
  #contact .contact-data {
    width: 95%;
    flex-direction: column;
    .my-details {
      width: 100%;
      align-self: center;
      margin: 0 auto;
    }
    .form-par {
      width: 100%;
      margin-top: 40px;
    }
    form {
      margin: 0 auto;
    }
  }
}

.contact-svg {
  position: absolute;
  top: -10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 2;
  filter: drop-shadow(0.1px 0.1px 0.1px black);
}

.circle-container {
  position: relative;
  width: 100vw;
  z-index: 10;
  .circle-animation {
    position: absolute;
    left: -10%;
    height: 1550%;
    z-index: 15;
    width: 120%;
    border-radius: 0 0 50% 50%;
    background: var(--secondary);
  }
}
