@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";
#main-page {
  width: 100%;
  background: var(--secondary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  & > * {
    text-shadow: 0.5px 0.5px 1px black;
  }

  video {
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 3;
    -webkit-mask-image: linear-gradient(
      to bottom,
      var(--secondary),
      rgba(0, 0, 0, 0.8)
    );
  }
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: var(--third);
    font-size: 1rem;
    h2 {
      position: relative;
      z-index: 4;
      display: flex;
      font-size: 3rem;
      font-weight: 550;
      span {
        color: var(--main-clr);
        margin-left: 5px;
      }
      &.greeting {
        display: flex;
        align-items: center;
      }
    }
    p.message {
      font-weight: 400;
      letter-spacing: 0.8px;
      position: relative;
      z-index: 4;
      font-size: 1rem;
      text-align: center;
      width: 95%;
      margin: 0 auto;
      text-wrap: balance;
    }

    h5 {
      display: flex;
      gap: 4px;
      letter-spacing: 0.8px;
      margin-top: -10px;
      width: fit-content;
      min-width: 100px;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      font-weight: 600;
      z-index: 2;
      font-size: 1.1rem;

      .developer {
        display: flex;
        span {
          @include header-animation(2.5);
          font-weight: 1000;
        }
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        svg {
          path {
            fill: var(--main-clr);
          }
        }
      }
      .hider {
        position: absolute;
        z-index: 2;
        top: -10%;
        height: 120%;
        width: 164%;
        background-color: var(--main-clr);
      }
    }
    .message {
      font-size: 0.8rem;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .icon-parent {
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: var(--main);
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 1px 3px black;
    // position: relative;
    // z-index: 20;
    svg {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      path {
        fill: var(--main-clr);
        transition: 0.3s;
      }
    }

    &:hover {
      background: var(--main-clr);
      path {
        fill: var(--main);
      }
    }
  }
}
.main-img {
  height: 400px;
  position: relative;
  top: 10px;
}

.my-major {
  position: relative;
  font-weight: bold;
  &::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: -10%;
    background: linear-gradient(to right, var(--main-clr), var(--secondary));
    z-index: -1;
    // mix-blend-mode: difference;
  }
}
