@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";
#main-page {
  width: 100%;
  background: var(--secondary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  & > * {
    text-shadow: 0.5px 0.5px 1px black;
  }

  video {
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 3;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: var(--third);
    white-space: nowrap;
    font-size: 1rem;
    h2 {
      @include fexien(75, 600);
      position: relative;
      z-index: 4;
      display: flex;
      .my-name {
        @include fexien(75, 800);

        &.H-animate {
          @include fexien(75, 800);

          @include header-animation(10);
          z-index: -1;
        }
      }
    }
    p.message {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.8px;
      position: relative;
      z-index: 4;
    }

    h5 {
      @include fexien(75, 800);
      display: flex;
      gap: 4px;
      letter-spacing: 0.8px;
      margin-top: -10px;
      width: fit-content;
      min-width: 100px;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      font-weight: 800;
      z-index: 2;

      .developer {
        display: flex;

        span {
          @include header-animation(1.9);
          font-weight: 1000;
        }
      }
      span {
        text-shadow: 0.5px 0.5px 2px black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        svg {
          path {
            filter: drop-shadow(0.5px 0.5px 2px black);
            fill: var(--scroll);
          }
        }
      }
      .hider {
        position: absolute;
        z-index: 2;
        top: -10%;
        height: 120%;
        width: 164%;
        background-color: var(--scroll);
      }
    }
    .message {
      font-size: 0.8rem;
    }
  }
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-parent {
    display: inline-flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: var(--main);
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 1px 3px black;
    // position: relative;
    // z-index: 20;
    svg {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      path {
        fill: var(--scroll);
        transition: 0.3s;
      }
    }

    &:hover {
      background: var(--scroll);
      path {
        fill: var(--main);
      }
    }
  }
}
.main-img {
  height: 400px;
  position: relative;
  top: 10px;
}

@media (max-width: 850px) {
  #main-page {
    flex-direction: column;
    // gap: 10px;
    button {
      margin-bottom: 20px;
      font-size: 12px;
    }
    img {
      margin-top: 40px;
    }
  }
}
