@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";
#main-page {
  width: 100%;
  background: var(--secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  & > * {
    text-shadow: 0.5px 0.5px 1px black;
  }

  video {
    padding: 0;
    margin: 0;
    object-fit: cover;
    width: 100%;
    z-index: 3;
    -webkit-mask-image: linear-gradient(
      to bottom,
      var(--secondary),
      rgba(0, 0, 0, 0.8)
    );
  }
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: var(--third);
    font-size: 1rem;
    h2 {
      position: relative;
      z-index: 4;
      display: flex;
      font-size: 3rem;
      font-weight: 550;

      span {
        &.first {
          color: var(--main-clr);
        }

        margin-left: 5px;

        display: flex;
      }
      &.greeting {
        display: flex;
        align-items: center;
      }
    }
    p.message {
      font-weight: 400;
      letter-spacing: 0.8px;
      position: relative;
      z-index: 4;
      font-size: 1rem;
      text-align: center;
      width: 95%;
      margin: 0 auto;
      text-wrap: balance;
    }

    h5 {
      display: flex;
      gap: 4px;
      letter-spacing: 0.8px;
      margin-top: -10px;
      width: fit-content;
      min-width: 100px;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      font-weight: 600;
      z-index: 2;
      font-size: 1.1rem;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .icon-parent {
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: var(--main);
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 1px 3px black;
    svg {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      path {
        fill: var(--main-clr);
        transition: 0.3s;
      }
    }
  }
}

.my-major {
  position: relative;
  font-weight: bold;
  text-shadow: 0.2px 0.5px 0.2px black;
  .bg {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: -10%;
    background: linear-gradient(to right, var(--main-clr), var(--secondary));
    z-index: -1;
  }
}
