@import "../variables";
@import "../mixins";
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  height: 50px;
  background: var(--secondary);
  z-index: 10;
  .links {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    a {
      display: inline-block;
      // @include kyiv(250, -1000);
      @include fexien(75, 500);
      padding-left: 20px;
      text-decoration: none;
      color: var(--main);
      text-transform: capitalize;
      transition: 0.3s;
      width: 75px;
      text-align: left;
      cursor: pointer;

      &:hover,
      &.active {
        color: var(--scroll);
        font-weight: 600;
        // @include kyiv(650, 0);
        @include fexien(110, 600);
      }
    }
  }

  .links {
    display: flex;
    gap: 10px;
  }
}

.clr-icon-parent {
  position: relative;
  width: fit-content;

  .color-picker {
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 5px;
    background: var(--main);
    z-index: 100;
    padding: 5px;
    .clr-option {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: 0.3s;
      &:hover,
      &.active {
        opacity: 1 !important;
      }
    }
  }
}
