@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
  width: 100vw;
  height: 50px;
  z-index: 100;
  // transition: 0.3s;
  .theme-par {
    height: 30px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    display: inline-flex;
    width: 80px;
    position: relative;
  }
  .links {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 20px;

    a {
      display: inline-block;
      text-decoration: none;
      color: var(--third);
      text-transform: capitalize;
      transition: 0.3s;
      font-size: 0.7rem;
      text-align: left;
      cursor: pointer;
    }
  }
  li.link-par {
    position: relative;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    .active-link {
      position: absolute;
      top: -20%;
      left: -15%;
      width: 130%;
      height: 140%;
      border-radius: 4000px;
      background-color: white;

      mix-blend-mode: exclusion;
    }
  }
  .links {
    width: 80%;
  }
}

.clr-icon-parent {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 40px;
  svg {
    font-size: 18px;
  }
}

.logo-svg {
  margin-top: 8px;
  filter: drop-shadow(1px 0.25px 0.25px black);
  path {
    stroke: rgba(128, 128, 128, 0.537);
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  aside {
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 100%;
    .links {
      position: relative;
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: var(--forth);
      box-shadow: 2px 1px 4px black;
      height: 100%;
      justify-content: flex-start;
      padding-top: 120px;
      width: 100%;

      a {
        width: fit-content;
        font-size: 2rem;
        &:before {
          content: initial;
        }
      }
      svg {
        display: none;
      }
      .clr-icon-parent {
        position: absolute;
        height: fit-content;
        width: 100%;
        top: 10px;
        left: 0;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 599px) {
  aside {
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 100%;
    .links {
      position: relative;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--forth);
      box-shadow: 2px 1px 4px black;
      height: 100%;
      padding-top: 120px;
      width: 100%;

      a {
        width: fit-content;
        font-size: 2rem;
        &:before {
          content: initial;
        }
      }
      svg {
        display: none;
      }
      .clr-icon-parent {
        position: absolute;
        height: fit-content;
        width: 100%;
        height: 40px;
        top: 10px;
        left: 0;
        margin: 0;
      }
    }
  }
}
