@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: var(--main);
  z-index: 100;
  box-shadow: 1px 0.5px 2px black;
  .theme-par {
    height: 30px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    display: inline-flex;
    width: 80px;
    position: relative;
  }
  .links {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4vw;
    a {
      display: inline-block;
      @include fexien(100, 500);
      text-decoration: none;
      color: var(--third);
      text-transform: capitalize;
      transition: 0.3s;
      font-size: 0.75rem;
      text-align: left;
      cursor: pointer;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        width: 0;
        height: 2px;
        border-radius: 4px;
        background-color: var(--third);
        transition: 0.3s;
      }

      &.active {
        color: var(--scroll);
        font-weight: 800;
        &:before {
          width: 100%;
          background-color: var(--scroll);
        }
      }
    }
  }

  .links {
    display: flex;
    gap: 10px;
    width: 80%;
  }
}

.clr-icon-parent {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 40px;
  svg {
    font-size: 18px;
  }
  .color-picker {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 5px;
    background: var(--main);
    box-shadow: 2px 1px 8px black;
    z-index: 100;
    padding: 5px;

    .clr-option {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: 0.3s;
      &:hover,
      &.active {
        opacity: 1 !important;
      }
    }
  }
}

.logo-svg {
  filter: drop-shadow(1px 0.5px 0.25px black);
  path {
    stroke: black;
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  aside {
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 100%;
    .links {
      position: relative;
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: var(--forth);
      box-shadow: 2px 1px 4px black;
      height: 100%;
      justify-content: flex-start;
      padding-top: 120px;
      width: 100%;

      a {
        width: fit-content;
        font-size: 2rem;
        &:before {
          content: initial;
        }
      }
      svg {
        display: none;
      }
      .clr-icon-parent {
        position: absolute;
        height: fit-content;
        width: 100%;
        height: 40px;
        top: 10px;
        left: 0;
        .color-picker {
          opacity: 1;

          left: initial;
          right: inherit;
          box-shadow: initial;
          width: 100%;
          gap: 10px;
          left: 0;
          background-color: transparent;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  aside {
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 100%;
    .links {
      position: relative;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--forth);
      box-shadow: 2px 1px 4px black;
      height: 100%;
      padding-top: 120px;
      width: 100%;
      a {
        width: fit-content;
        font-size: 2rem;
        &:before {
          content: initial;
        }
      }
      svg {
        display: none;
      }
      .clr-icon-parent {
        position: absolute;
        height: fit-content;
        width: 100%;
        height: 40px;
        top: 10px;
        left: 0;
        margin: 0;
        .color-picker {
          opacity: 1;

          left: initial;
          right: inherit;
          box-shadow: initial;
          width: 100%;
          gap: 10px;
          left: 0;
          background-color: transparent;
        }
      }
    }
  }
}
