@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";
#projects-home {
  width: 100%;
  position: relative;
  background-color: var(--secondary);
  min-height: 100vh;
  padding: 20px 0;
}
.grid-loader {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fig-parent {
  display: grid;
  width: 85%;
  margin: 0 auto;
  padding-top: 30px;
  justify-content: space-between;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

  figure {
    background-color: var(--main);
    min-width: 300px;
    max-width: 650px;
    padding: 20px 0;

    box-shadow: var(--main-shadow);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .img-par {
      padding-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      height: 250px;
      border-top-left-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom !important;
      }
    }
    h3 {
      color: var(--third);
      text-transform: capitalize;
      margin: 8px auto;
      margin-top: 14px;
      letter-spacing: 1px;
      filter: drop-shadow(var(--secondary-shadow));
    }
    .skills-project-par {
      width: 90%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      filter: drop-shadow(var(--secondary-shadow));

      svg {
        font-size: min(7vw, 25px);
      }
    }
    .projects-links {
      display: flex;
      justify-content: center !important;
      align-items: center;
      width: 80%;
      margin: 0 auto;

      a {
        margin-top: 20px;
        transform: scale(0.8);
        &:nth-child(1) {
          transform-origin: right 0;
        }
        &:nth-child(2) {
          transform-origin: left 0;
        }
        svg,
        button {
          text-shadow: initial;
          color: white !important;
        }
      }
      .btn-par {
        padding: 0;
        margin: 0 !important;

        button svg {
          font-size: 20px;
        }
      }
    }
  }
}
.hint {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 200px;
  height: min(14vw, 50px);
  background: var(--scroll);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.217);
  text-transform: capitalize;
  font-size: 0.85rem;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
  font-weight: 800;
  width: 95vw;
  margin: 0 auto;
  margin-top: 40px;
  div {
    font-size: 12px;
    color: white;
    padding: 5px 8px;
    text-transform: capitalize;
    border-radius: 2px;
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--scroll);
    transition: 0.3s;
    filter: drop-shadow(var(--secondary-shadow));

    &.active {
      background-color: var(--third);
      color: var(--scroll);
    }
  }
}
@media (max-width: 700px) {
  .fig-parent {
    width: 95%;
    margin-left: 2px;
  }
}
