@import "./../variables";
@import "./../variables";
#projects-home {
  width: 100%;
}

section.projects-section {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  height: 1000px;
  figure.projects-fig {
    background: #000;
    height: 300px;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
}
.small-fig-parent {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-between;
  gap: 20px;
  &.small {
    height: 500px;
    width: 30vw;
  }
}
.hint {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 12vw;
  height: 12vw;
  clip-path: polygon(38% 0, 85% 0, 0 85%, 0 38%);

  background: var(--scroll);
  opacity: 0.4;
}
small {
  display: inline-block;
  align-self: center;

  transform: rotate(-45deg) translateY(-3vw);
  font-size: 0.9rem;
  color: white;
  text-shadow: 0.5px 0.5px 0.75px black;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .hint {
    width: 20vw;
    height: 20vw;
    small {
      transform: rotate(-45deg) translateY(-5vw);
    }
  }
}
