@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";

#service {
  min-height: 100vh;

  z-index: 4;
  background: var(--secondary);
  position: relative;
  width: 95vw;
  margin: 0 auto;

  .services {
    width: 100%;
    margin-top: 40px;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    height: calc(100vh - 200px);
    align-items: center;
    // &  > div{
    
    //   flex-grow: 1;
    //   width: 300px;
    // }
}
.service {
    position: relative;
    z-index: 2;
    background: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 8px;
    border-radius: 5px;
    gap: 6px;
    box-shadow: 0.5px 0.5px 2px black;
    & > * {
      transition: 0.3s;
    }
    &.blurred-service {
      filter: blur(4px);
    }
    svg {
      font-size: 2rem;
    }
    .service-title {
      font-weight: 600;
      font-size: 18px;
    }
    p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
      color: var(--third);
      font-size: 14px;
    }
  }
}

@media (max-width: 850px) {
  #service {
    .services {
      height: initial;
    }
  }
}
