@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";

#experience {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 0;
  background-color: var(--secondary);
  overflow: hidden;

  .timeline-par {
    margin-top: 60px;
    .detail {
      text-wrap: nowrap;
    }
    h3 {
      text-transform: capitalize;
      letter-spacing: 0.7px;
      padding: 4px;
      padding-left: 12px;
      color: var(--main-clr);
    }
    ul {
      padding: 10px;
      li {
        padding-bottom: 4px;
        opacity: 0.7;
      }
    }
  }

  .skills {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    .skills-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      &.right {
        justify-content: flex-end;
      }
      &.left {
        justify-content: flex-start;
      }
      gap: 5px;
    }
    .skill-icon {
      min-height: min(10.5vw, 80px);
      min-width: min(10.5vw, 80px);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--svg);
      position: relative;
      box-shadow: var(--secondary-shadow);

      svg {
        font-size: min(6vw, 40px);
        filter: drop-shadow(0px 0px 0.7px black);
        &:hover {
          mix-blend-mode: normal !important;
        }
      }
    }
  }
}

.icon-new {
  transform: scale(1.6);
}

#skills {
  min-height: auto;
  container-name: skills;
  container-type: inline-size;
}
.mobile-skills {
  display: none;
  .text {
    position: absolute;
    top: 0%;
    left: 0;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    font-family: "Caveat", cursive;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--third);
    font-size: 40rem;
  }
}

@media (max-width: 500px) {
  #experience .skills {
    height: 100px;
  }
  .mobile-skills .text {
    font-size: 20rem;
  }
  .icon-new {
    transform: scale(1.2);
  }
}

@container skills (max-width:900px) {
  .desktop-skills {
    display: none;
  }
  .mobile-skills {
    display: block;
  }
}
