@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";

#testimonials {
  position: relative;
  padding: 0;
  padding-bottom: 60px;
}

.swiper-par {
  width: 80%;
  height: 80vh;
  padding: 10px;
  .review {
    height: 150px;
    display: flex;
    gap: 30px;
    background-color: var(--main);
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    transition: 0.3s;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    &.blur {
      transform: scale(0.8);
      filter: blur(2px);
    }
    .img-par {
      height: 100%;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
    .review-content {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .review-name {
        color: var(--scroll);
        font-weight: 700;
      }
      p {
        font-family: "Caveat", cursive;
        color: var(--third);
        width: 90%;
        text-align: justify;
        &::first-letter {
          color: var(--scroll);
          padding-left: 8px;
          font-weight: 500;
          text-transform: capitalize;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  #testimonials {
    padding-bottom: 40px;
  }
  .swiper-par {
    height: 80vh;
    .review {
      width: 80%;
      flex-direction: column;
      height: 220px;
      justify-content: space-between;
      p {
        font-size: 1.2rem;
        width: 80%;
        margin: 0 auto;
      }
      .review-name {
        font-size: 1.5rem;
        text-align: right;
        margin: 6px;
      }
    }
  }
}

.swiper-pagination-bullet {
  background-color: var(--third);
}
