@import "../globals/variables";
@import "../globals/globals";
@import "../globals/mixins";

.theme-toggle-par {
  box-shadow: 1px 0.5px 1px black;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.353);
  overflow: hidden;
  position: relative;
  .theme-toggle {
    position: absolute;
    top: 0;
    // left: 0;
    // width: 50%;
    height: 100%;
  }
}
