:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
#main-page {
  width: 100%;
  background: var(--secondary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
#main-page > * {
  text-shadow: 0.5px 0.5px 1px black;
}
#main-page video {
  padding: 0;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 3;
}
#main-page .home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  color: var(--third);
  font-size: 1rem;
}
#main-page .home-content h2 {
  font-family: "Fexien Sans";
  font-weight: 600;
  font-variation-settings: "wdth" 75;
  position: relative;
  z-index: 4;
  display: flex;
  font-size: 2rem;
  font-weight: 800;
}
#main-page .home-content h2 .my-name {
  font-family: "Fexien Sans";
  font-weight: 800;
  font-variation-settings: "wdth" 75;
}
#main-page .home-content h2 .my-name.H-animate {
  font-family: "Fexien Sans";
  font-weight: 800;
  font-variation-settings: "wdth" 75;
  animation: animate-head 0.4s linear forwards 10s;
  z-index: -1;
}
@keyframes animate-head {
  100% {
    font-family: "Fexien Sans";
    font-weight: 800;
    font-variation-settings: "wdth" 115;
    color: var(--scroll);
  }
}
#main-page .home-content p.message {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  position: relative;
  z-index: 4;
  white-space: pre-wrap;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
#main-page .home-content h5 {
  font-family: "Fexien Sans";
  font-weight: 800;
  font-variation-settings: "wdth" 75;
  display: flex;
  gap: 4px;
  letter-spacing: 0.8px;
  margin-top: -10px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-weight: 600;
  z-index: 2;
  font-size: 1.1rem;
}
#main-page .home-content h5 .developer {
  display: flex;
}
#main-page .home-content h5 .developer span {
  animation: animate-head 0.4s linear forwards 1.9s;
  font-weight: 1000;
}
@keyframes animate-head {
  100% {
    font-family: "Fexien Sans";
    font-weight: 800;
    font-variation-settings: "wdth" 115;
    color: var(--scroll);
  }
}
#main-page .home-content h5 span {
  text-shadow: 0.5px 0.5px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#main-page .home-content h5 span svg path {
  filter: drop-shadow(0.5px 0.5px 2px black);
  fill: var(--scroll);
}
#main-page .home-content h5 .hider {
  position: absolute;
  z-index: 2;
  top: -10%;
  height: 120%;
  width: 164%;
  background-color: var(--scroll);
}
#main-page .home-content .message {
  font-size: 0.8rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons .icon-parent {
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: var(--main);
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 1px 1px 3px black;
}
.icons .icon-parent svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icons .icon-parent svg path {
  fill: var(--scroll);
  transition: 0.3s;
}
.icons .icon-parent:hover {
  background: var(--scroll);
}
.icons .icon-parent:hover path {
  fill: var(--main);
}

.main-img {
  height: 400px;
  position: relative;
  top: 10px;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: var(--main);
  z-index: 100;
  box-shadow: 1px 0.5px 2px black;
}
nav .theme-par {
  height: 30px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  display: inline-flex;
  width: 80px;
  position: relative;
}
nav .links {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4vw;
}
nav .links a {
  display: inline-block;
  font-family: "Fexien Sans";
  font-weight: 500;
  font-variation-settings: "wdth" 100;
  text-decoration: none;
  color: var(--third);
  text-transform: capitalize;
  transition: 0.3s;
  font-size: 0.75rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
nav .links a:before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 4px;
  background-color: var(--third);
  transition: 0.3s;
}
nav .links a.active {
  color: var(--scroll);
  font-weight: 800;
}
nav .links a.active:before {
  width: 100%;
  background-color: var(--scroll);
}
nav .links {
  display: flex;
  gap: 10px;
  width: 80%;
}

.clr-icon-parent {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 40px;
}
.clr-icon-parent svg {
  font-size: 18px;
}
.clr-icon-parent .color-picker {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 5px;
  background: var(--main);
  box-shadow: 2px 1px 8px black;
  z-index: 100;
  padding: 5px;
}
.clr-icon-parent .color-picker .clr-option {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
}
.clr-icon-parent .color-picker .clr-option:hover, .clr-icon-parent .color-picker .clr-option.active {
  opacity: 1 !important;
}

.logo-svg {
  filter: drop-shadow(1px 0.5px 0.25px black);
}
.logo-svg path {
  stroke: black;
}

@media (min-width: 600px) and (max-width: 850px) {
  aside {
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  aside .links {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--forth);
    box-shadow: 2px 1px 4px black;
    height: 100%;
    justify-content: flex-start;
    padding-top: 120px;
    width: 100%;
  }
  aside .links a {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2rem;
  }
  aside .links a:before {
    content: initial;
  }
  aside .links svg {
    display: none;
  }
  aside .links .clr-icon-parent {
    position: absolute;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    top: 10px;
    left: 0;
    margin: 0 auto;
  }
  aside .links .clr-icon-parent .color-picker {
    opacity: 1;
    left: initial;
    right: inherit;
    box-shadow: initial;
    width: 100%;
    gap: 10px;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: center !important;
  }
}
@media (max-width: 599px) {
  aside {
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  aside .links {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--forth);
    box-shadow: 2px 1px 4px black;
    height: 100%;
    padding-top: 120px;
    width: 100%;
  }
  aside .links a {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2rem;
  }
  aside .links a:before {
    content: initial;
  }
  aside .links svg {
    display: none;
  }
  aside .links .clr-icon-parent {
    position: absolute;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    height: 40px;
    top: 10px;
    left: 0;
    margin: 0;
  }
  aside .links .clr-icon-parent .color-picker {
    opacity: 1;
    left: initial;
    right: inherit;
    box-shadow: initial;
    width: 100%;
    gap: 10px;
    left: 0;
    background-color: transparent;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

.bot {
  position: fixed;
  left: 20px;
  bottom: 0px;
  z-index: 40;
}
.bot svg {
  color: var(--third);
  font-size: 30px;
  position: relative;
  z-index: 40;
  margin-bottom: 10px;
  margin-left: 10px;
}
.bot .chat {
  width: 220px;
  height: 280px;
  border-radius: 5px;
  background: var(--main);
  box-shadow: 2px 2px 4px black;
}
.bot .head-chat {
  display: flex;
  padding: 8px;
  gap: 10px;
  background-color: var(--secondary);
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 50px;
}
.bot .head-chat .chat-close-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 16px;
  color: var(--third);
}
.bot .head-chat .chat-content {
  font-family: "Fexien Sans";
  font-weight: 800;
  font-variation-settings: "wdth" 110;
  color: var(--third);
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.bot .head-chat .chat-content .chat-name {
  font-size: 10px;
  letter-spacing: 0.8px;
  font-weight: 700;
}
.bot .head-chat .chat-content .ask {
  opacity: 0.8;
  font-family: "caveat";
  font-size: 12px;
}
.bot .head-chat .img-par {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.bot .head-chat .img-par img {
  width: 130%;
  height: 130%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.bot .chat-messages {
  padding: 5px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  overflow: auto;
  height: calc(100% - 50px);
}
.bot .chat-messages > * {
  box-shadow: 0.5px 0.5px 1px black;
}
.bot .chat-messages .chat-q,
.bot .chat-messages .chat-av-q {
  align-self: flex-end;
  background-color: var(--secondary);
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  display: flex;
  font-size: 10px;
  align-items: center;
  padding: 8px;
  padding-left: 10px;
  color: var(--third);
}
.bot .chat-messages .chat-ans {
  align-self: flex-start;
  background-color: var(--forth);
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  display: flex;
  font-size: 10px;
  align-items: center;
  padding: 8px;
  padding-left: 10px;
  color: var(--third);
}
.bot .chat-messages .chat-av-q {
  background-color: #007aff;
  align-self: flex-start;
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 600px) {
  .bot {
    left: 0;
    bottom: 0;
    z-index: 100;
  }
  .bot .chat {
    width: 100vw;
    height: 100vh;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
#experience {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main);
  background-color: var(--secondary);
  overflow: hidden;
}
#experience .timeline-par {
  margin-top: 60px;
}
#experience .timeline-par h3 {
  text-transform: capitalize;
  font-family: "Fexien Sans";
  font-weight: 800;
  font-variation-settings: "wdth" 125;
  letter-spacing: 0.7px;
  padding: 4px;
  font-size: 0.9rem;
  padding-left: 12px;
  color: var(--scroll);
}
#experience .timeline-par ul {
  padding: 10px;
}
#experience .timeline-par ul li {
  font-size: 12px;
  padding-bottom: 4px;
}
#experience .skills-par {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95vw;
  margin: 0 auto;
}
#experience .skills-par .skills {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vw;
  gap: 2vh;
  margin: 0 auto;
  margin-bottom: 6px;
}
#experience .skills-par .skills .skill-icon {
  height: 6vw;
  width: 6vw;
  min-height: 30px;
  min-width: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--svg);
  position: relative;
  box-shadow: var(--main-shadow);
}
#experience .skills-par .skills .skill-icon svg {
  font-size: 3.8vw;
  filter: drop-shadow(0.5px 0.3px 0.7px black);
}
#experience .skills-par .skills .skill-icon svg:hover {
  mix-blend-mode: normal !important;
}

.link-timeline {
  font-size: 11px;
}

@media (max-width: 500px) {
  .link-timeline {
    font-size: 8px;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
.heading {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: start;
  position: relative;
  padding: 20px 20px;
  padding-top: 40px;
  padding-bottom: 0;
  font-size: 30px;
  margin-bottom: 15px;
  color: var(--third);
  text-transform: capitalize;
}
.heading:before {
  content: "";
  position: absolute;
  left: 35%;
  width: 30%;
  height: 1.5px;
  background: var(--scroll);
  border-radius: 3px;
  top: 105%;
}

.box-shadow {
  box-shadow: 1px 1px 3px black;
}

.btn-par {
  position: relative;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  filter: drop-shadow(var(--secondary-shadow));
  margin-bottom: 45px;
  margin-top: 20px;
}
.btn-par .btn-background {
  z-index: -1;
}
.btn-par .btn-background path {
  fill: var(--scroll);
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  outline: 0;
  border: 0;
  color: var(--third);
  letter-spacing: 1.2px;
  border-radius: 4px;
  text-shadow: 0.5px 0.5px 0.75px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-transform: capitalize;
  background-color: transparent;
  font-size: 16px !important;
  white-space: nowrap;
}

.cv-link {
  color: var(--third);
}

.main-background {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
  letter-spacing: 1vw;
  white-space: nowrap;
  overflow: hidden;
}
.main-background p {
  opacity: 0.15;
  text-transform: capitalize;
  font-size: 8.5rem;
  color: var(--third);
  font-family: "Caveat", cursive;
  line-height: 7rem;
}

.rotated-text-par {
  position: fixed;
  bottom: 2px;
  right: 4px;
  z-index: 20;
  background-color: var(--third);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotated-text-par .rotate-svg {
  transform: scale(0.95);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotated-text-par .rotate-svg path {
  fill: var(--main);
}

.title-par {
  display: inline-flex;
}

.custom-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: lowercase;
  position: absolute;
  top: 115%;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
  padding: 4px 6px;
  background: var(--secondary);
  color: var(--third) !important;
  white-space: nowrap;
  border-radius: 4px;
  letter-spacing: 0.8px;
  height: 20px;
  font-size: 0.8rem;
  box-shadow: 0.5px 0.5px 1px black;
  text-transform: capitalize;
  box-shadow: var(--main-shadow);
}
.custom-title.right {
  right: 0;
}
.custom-title.left {
  left: 0;
}

.err-form {
  display: inline-block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 105%;
  font-size: 0.85rem;
  left: 0;
  color: rgb(118, 9, 9);
  font-weight: bold;
}

.relative {
  position: relative;
}

@media (max-width: 500px) {
  .main-background p {
    font-size: 6rem;
  }
}
p {
  font-family: "Fexien Sans";
  font-weight: 600;
  font-variation-settings: "wdth" 75;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

#about {
  min-height: 100vh;
  position: relative;
  z-index: 4;
  overflow: hidden;
}
#about .about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  gap: 20px;
  height: 100%;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}
#about .about .mac {
  width: 50%;
  height: 250px !important;
}
#about .about .mac > * {
  margin-top: 20px;
}
#about .about .about-content {
  width: 40%;
  display: flex;
  flex-direction: column;
}
#about .about .about-content .about-btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#about .about .about-content .about-btns button {
  font-size: 10px;
}
#about .about .about-content .about-btns button.contact-btn {
  background-color: rgb(78, 75, 75) !important;
  color: var(--white);
  width: -moz-fit-content;
  width: fit-content;
  gap: 4px;
  position: relative;
}
#about .about .about-content .about-btns button .transparent-btn {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#about .about .about-content p {
  text-align: justify;
  color: var(--third);
}
#about .about .about-content p::first-letter {
  padding-left: 20px;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: var(--scroll);
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
    width: 100%;
  }
  .about .mac {
    padding: 20px 0;
    width: 100% !important;
  }
  .about .about-content {
    width: 100% !important;
  }
}
@media (max-width: 500px) {
  #about {
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    padding: 40px 0;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
.nav-toggle {
  display: none;
}

@media (max-width: 850px) {
  .menu-togglar {
    height: 25px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative !important;
  }
  .nav-toggle {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .nav-toggle .toggle-line {
    height: 2px;
    border-radius: 10px;
    background: linear-gradient(210deg, var(--svg), var(--scroll));
  }
  .closing-toggle {
    height: 90%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  .closing-toggle .closing-line {
    background: linear-gradient(210deg, var(--svg), var(--scroll));
    width: 2px;
    border-radius: 10px;
  }
  .closing-toggle .closing-line.line-one {
    transform: rotate(45deg);
  }
  .closing-toggle .closing-line.line-two {
    transform: rotate(-45deg);
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
#service {
  min-height: 100vh;
  z-index: 4;
  background: var(--secondary);
  position: relative;
  width: 95vw;
  margin: 0 auto;
}
#service .services {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  height: calc(100vh - 200px);
  align-items: center;
}
#service .service {
  position: relative;
  z-index: 2;
  background: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 4px;
  border-radius: 5px;
  gap: 6px;
  box-shadow: 0.5px 0.5px 2px black;
  text-wrap: balance;
}
#service .service > * {
  transition: 0.3s;
}
#service .service.blurred-service {
  filter: blur(4px);
}
#service .service svg {
  font-size: 2rem;
}
#service .service .service-title {
  font-weight: 600;
  font-size: 18px;
}
#service .service p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  color: var(--third);
  font-size: 14px;
}

@media (max-width: 850px) {
  #service .services {
    height: initial;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

#contact {
  min-height: 100vh;
  position: relative;
  background-color: var(--forth);
  background-color: var(--secondary);
  overflow: hidden;
}
#contact .contact-data {
  position: relative;
  z-index: 4 !important;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  padding: 40px 0;
}
#contact .contact-data .my-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact .contact-data .contact-detail {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}
#contact .contact-data .contact-detail .contact-shape {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contact-data .contact-detail .contact-shape .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px black;
  border: 0.5px solid var(--secondary);
  background-color: var(--main);
}
#contact .contact-data .contact-detail .contact-shape .circle svg {
  color: var(--scroll);
  filter: drop-shadow(0px 0.2px 0.1px black);
  font-size: 1.2rem;
}
#contact .contact-data .contact-detail .contact-shape .line {
  width: 30px;
  height: 1.5px;
  background-color: var(--main);
  box-shadow: 1px 1px 2px black;
}
#contact .contact-data .contact-detail .contact-detail-data {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
  gap: 5px;
  color: var(--third);
}
#contact .contact-data .contact-detail .contact-detail-data .contact-detail {
  font-family: "Caveat", cursive;
  font-size: 20px;
  text-transform: capitalize;
}
#contact .contact-data .contact-detail .contact-detail-data .contact-value {
  opacity: 0.4;
}
#contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 8% 2%;
  border-radius: 5px;
  background: var(--main);
  box-shadow: var(--main-shadow);
  opacity: 0;
}
#contact form .send-btn {
  opacity: 0;
}
#contact form .inp-par {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  height: 80px;
  position: relative;
}
#contact form .inp-par.inp-text {
  height: 120px;
}
#contact form .inp-par.inp-send {
  display: flex;
  align-items: center;
}
#contact form .inp-par input,
#contact form .inp-par textarea {
  width: 100%;
  color: var(--third);
  height: 100%;
  border-radius: 6px;
  padding: 15px;
  letter-spacing: 0.8px;
  outline: none;
  border: none;
  background-color: var(--secondary);
  box-shadow: 0.5px 0.5px 1px black;
}
#contact form .inp-par input:focus,
#contact form .inp-par textarea:focus {
  border: 2px solid var(--scroll);
}
#contact form .inp-par .placeholder {
  color: var(--third);
  font-family: "Caveat", cursive;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

@media (max-width: 800px) {
  #contact .contact-data {
    width: 95%;
    flex-direction: column;
  }
  #contact .contact-data .my-details {
    width: 100%;
    align-self: center;
    margin: 0 auto;
  }
  #contact .contact-data form {
    width: 100%;
    margin: 0 auto;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
#testimonials {
  position: relative;
  padding: 0;
}

.swiper-wrapper {
  padding-top: 30px;
}

.swiper-par {
  width: 80%;
  height: 75vh;
}
.swiper-par .review {
  height: 150px;
  display: flex;
  gap: 30px;
  background-color: var(--main);
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 4px black;
  border-radius: 5px;
  transition: 0.3s;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.swiper-par .review.blur {
  transform: scale(0.8);
  filter: blur(2px);
}
.swiper-par .review .img-par {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-par .review .img-par img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-par .review .review-content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-par .review .review-content .review-name {
  color: var(--scroll);
  font-weight: 700;
}
.swiper-par .review .review-content p {
  color: var(--third);
  width: 90%;
  text-align: justify;
}
.swiper-par .review .review-content p::first-letter {
  color: var(--scroll);
  padding-left: 8px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.4rem;
}

@media (max-width: 520px) {
  .swiper-par {
    height: 80vh;
  }
  .swiper-par .review {
    width: 80%;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
  }
  .swiper-par .review p {
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
  }
  .swiper-par .review .review-name {
    font-size: 1.5rem;
    text-align: right;
    margin: 6px;
  }
}
.swiper-pagination-bullet {
  background-color: var(--secondary) !important;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.loading svg {
  filter: drop-shadow(1px 0.5px 0.5px black);
}
.loading svg path:nth-child(1) {
  stroke: var(--scroll);
  stroke-width: 0.2px;
}
.loading .loading-content {
  letter-spacing: 1px;
  color: var(--scroll);
  font-weight: bold;
  font-size: 1rem;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
.theme-toggle-par {
  box-shadow: 1px 0.5px 1px black;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.1);
  overflow: hidden;
  position: relative;
}
.theme-toggle-par .theme-toggle {
  position: absolute;
  top: 0;
  height: 100%;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

:root {
  --white: rgba(234, 232, 232, 0.999);
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
  --main-shadow: 1px 1.5px 2px black;
  --secondary-shadow: 0.5px 0.4px 0.5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("/fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}
body {
  font-family: Kyiv Sans;
  font-weight: 500;
  font-variation-settings: "CONT" 500, "MIDL" -600;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--secondary);
  font-size: clamp(12px, 2vw, 16px);
}

body {
  --secondary: rgb(247, 246, 246);
  --third: #000;
  --main: #f4ece6;
  --forth: #f4f9fc;
}

body.dark {
  --forth: #1d2226;
  --main: #222222;
  --secondary: #111110;
  --third: rgb(247, 246, 246);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--third);
  padding: 0 5px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 599px) {
  :root {
    cursor: initial;
  }
}
#projects-home {
  width: 100%;
  position: relative;
  background-color: var(--secondary);
  min-height: 100vh;
}

.grid-loader {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fig-parent {
  display: grid;
  width: 85%;
  margin: 0 auto;
  padding-top: 30px;
  justify-content: space-between;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.fig-parent figure {
  background-color: var(--main);
  min-width: 300px;
  max-width: 500px;
  padding: 20px 0;
  box-shadow: var(--main-shadow);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fig-parent figure .img-par {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 250px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
.fig-parent figure .img-par img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom !important;
     object-position: bottom !important;
}
.fig-parent figure h3 {
  color: var(--third);
  text-transform: capitalize;
  margin: 8px auto;
  margin-top: 14px;
  letter-spacing: 1px;
  filter: drop-shadow(var(--secondary-shadow));
}
.fig-parent figure .skills-project-par {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  filter: drop-shadow(var(--secondary-shadow));
}
.fig-parent figure .projects-links {
  transform: scale(0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.fig-parent figure .projects-links .btn-par {
  padding: 0;
  margin: 0;
}
.fig-parent figure .projects-links .btn-par button svg {
  font-size: 20px;
}

.hint {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 140px;
  height: 40px;
  background: var(--scroll);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  z-index: 2;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.217);
  text-transform: capitalize;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
  font-weight: 800;
  width: 95vw;
  margin: 0 auto;
  margin-top: 40px;
}
#filters div {
  font-size: 12px;
  color: white;
  padding: 5px 8px;
  text-transform: capitalize;
  border-radius: 2px;
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--scroll);
  transition: 0.3s;
  filter: drop-shadow(var(--secondary-shadow));
}
#filters div.active {
  background-color: var(--third);
  color: var(--scroll);
}

@media (max-width: 700px) {
  .fig-parent {
    width: 95%;
  }
}/*# sourceMappingURL=App.css.map */