:root {
  --main: white;
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  height: -moz-fit-content;
  height: fit-content;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--scroll);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 12px;
  }
}
#main-page {
  width: 100%;
  background: #121111;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 50px;
  position: relative;
}
#main-page .home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: var(--main);
  white-space: nowrap;
  font-size: 1rem;
}
#main-page .home-content .message {
  font-size: 0.8rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons .icon-parent {
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: var(--main);
  transition: 0.3s;
  border-radius: 4px;
}
.icons .icon-parent path {
  transition: 0.3s;
}
.icons .icon-parent:hover {
  background: var(--scroll);
}
.icons .icon-parent:hover path {
  fill: white;
}

.main-img {
  height: 400px;
  position: relative;
  top: 10px;
}

@media (max-width: 850px) {
  #main-page {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
  }
  #main-page button {
    margin-bottom: 20px;
    font-size: 12px;
  }
  #main-page img {
    margin-top: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  height: -moz-fit-content;
  height: fit-content;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--scroll);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 12px;
  }
}
:root {
  --main: white;
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  height: 50px;
  background: var(--secondary);
  z-index: 10;
}
nav a {
  text-decoration: none;
  color: var(--main);
  text-transform: capitalize;
  transition: 0.3s;
}
nav a:hover, nav a.active {
  color: var(--scroll);
  font-weight: bold;
}
nav .links {
  display: flex;
  gap: 10px;
}

.clr-icon-parent {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.clr-icon-parent .color-picker {
  position: absolute;
  top: 25px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 5px;
  background: var(--main);
  z-index: 100;
  padding: 5px;
}
.clr-icon-parent .color-picker .clr-option {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
}
.clr-icon-parent .color-picker .clr-option:hover, .clr-icon-parent .color-picker .clr-option.active {
  opacity: 1 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  height: -moz-fit-content;
  height: fit-content;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--scroll);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 12px;
  }
}
.heading {
  width: -moz-fit-content;
  width: fit-content;
  text-align: start;
  position: relative;
  margin: 20px;
  font-size: 30px;
  text-transform: capitalize;
}
.heading .border-one {
  position: absolute;
  top: 110%;
  left: 0;
  height: 6px;
  background: var(--scroll);
  border-radius: 4px;
}
.heading .border-two {
  display: inline-block;
  position: absolute;
  top: 150%;
  left: 0;
  width: 20%;
  height: 6px;
  background: var(--scroll);
  border-radius: 4px;
}

.btn {
  outline: 0;
  border: 0;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  letter-spacing: 1px;
  border-radius: 4px;
  text-shadow: 0.5px 0.5px 0.75px black;
  position: relative;
}
.btn .btn-span {
  position: relative;
  transition: 0.3s;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  height: -moz-fit-content;
  height: fit-content;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--scroll);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 12px;
  }
}
:root {
  --main: white;
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.loading .loading-content {
  letter-spacing: 1px;
  color: transparent;
  background: linear-gradient(150deg, var(--svg), var(--scroll));
  font-weight: bold;
  font-size: 18px;
  -webkit-background-clip: text;
}

:root {
  --main: white;
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
}

:root {
  --main: white;
  --secondary: black;
  --grey: #5c6e7d;
  --blue: #1d546a;
  --aqua: #359399;
  --red: #a53737;
  --lavender: rgb(69, 69, 147);
  --scroll: #5c6e7d;
  --svg: rgb(211, 191, 152);
}

#projects-home {
  width: 100%;
}

section.projects-section {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  height: 1000px;
}
section.projects-section figure.projects-fig {
  background: #000;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.small-fig-parent {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-between;
  gap: 20px;
}
.small-fig-parent.small {
  height: 500px;
  width: 30vw;
}

.hint {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 12vw;
  height: 12vw;
  -webkit-clip-path: polygon(38% 0, 85% 0, 0 85%, 0 38%);
          clip-path: polygon(38% 0, 85% 0, 0 85%, 0 38%);
  background: var(--scroll);
  opacity: 0.4;
}

small {
  display: inline-block;
  align-self: center;
  transform: rotate(-45deg) translateY(-3vw);
  font-size: 0.9rem;
  color: white;
  text-shadow: 0.5px 0.5px 0.75px black;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .hint {
    width: 20vw;
    height: 20vw;
  }
  .hint small {
    transform: rotate(-45deg) translateY(-5vw);
  }
}/*# sourceMappingURL=App.css.map */